body{
    margin: 0;
    padding: 0;
        max-width: 800px;
        max-height: 600px;
        font-family: sans-serif;
        display: center;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background: rgb(2,2,2);
}
p{
    font-size: 13px;
    line-height: 1.0;
    text-align: justify;
    background-size: cover;
    background: url(mae.jpg);
    background-attachment: center;
    -webkit-background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
    -webkit-background-clip: text;
     background-attachment: center;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}